#Cliente Project
Cliente/.vs/
Cliente/data
Cliente/*.suo
Cliente/*.user
Cliente/_ReSharper.*/
Cliente/*.sdf
Cliente/bin/
Cliente/obj/
Cliente/Debug/
Cliente/Release/
Cliente/*.opensdf
Cliente/*.tlog
Cliente/*.log
Cliente/TestResult.xml
Cliente/*.VisualState.xml
Cliente/Version.cs
Cliente/Version.h
Cliente/Version.cpp
#Cuenta_Movimiento Project
Cuenta_Movimiento/.vs/
Cuenta_Movimiento/my-data
Cuenta_Movimiento/data/build/
Cuenta_Movimiento/*.suo
Cuenta_Movimiento/*.user
Cuenta_Movimiento/_ReSharper.*/
Cuenta_Movimiento/*.sdf
Cuenta_Movimiento/bin/
Cuenta_Movimiento/obj/
Cuenta_Movimiento/Debug/
Cuenta_Movimiento/Release/
Cuenta_Movimiento/*.opensdf
Cuenta_Movimiento/*.tlog
Cuenta_Movimiento/*.log
Cuenta_Movimiento/TestResult.xml
Cuenta_Movimiento/*.VisualState.xml
Cuenta_Movimiento/Version.cs
Cuenta_Movimiento/Version.h
Cuenta_Movimiento/Version.cpp
*.exe
*.pdb
*.manifest
*.cache
